html{
  min-width: 1000px;
  max-width: 1000px;
  border:2px solid black;
  font-family: 'Kurale', cursive;
}
header {
  text-align: center;
  font-family: 'Pattaya', cursive;
}
table.text  {
  width:  985px;
  border-spacing: 0;
  border-top:1px solid black;
  border-bottom:1px solid black;
  padding:2px;
}
table.text td {
  width: 50%;
  vertical-align: top;
}
td.right {
  text-align: right;
}
h1{
  font-size: 192px;
  margin:0px;
}
h4{
  margin-top:0px;
}
h4.sp{
  background-color:#8B0000;
  color:#ffffff;
  margin-bottom:8px;
  padding:3px;
  width: fit-content;
}
section.left_block {
    float:left;
    max-width:500px;
}
section.right_block {
    float:right;
    max-width:450px;
}

.separator {
  clear: left;
  display: flex;
  align-items: center;
}
.separator:before {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

h2.hdr_lab {
    text-align: left;
    font-size: 43;
    color: #808080;
}

aside.main_sec {
float: left;
width: 285px;
border-top: 3px solid black;
border-left: 2px solid black;
padding: 10px;
margin-left: 15px;
}
section.main_sec {
float: left;
width: 650px;
border-top: 3px solid black;
padding: 4px;
}

section.sub_sec_left {
float: left;
width: 45%;
}

section.sub_sec_right {
float: right;
width: 45%;
}

h2 {
text-align:center;
}

img.left_img {
  float: left;
  margin: 7px;
}